body {
    text-align: center; 
}

header {
    background-color: rgb(66, 63, 63);
    margin-bottom: 25px;
}

img {
    margin: 15px;
}

nav > ul > li{
    margin: 35px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

footer {
    background-color: rgb(66, 63, 63);
    height: 150px;
}

li > div > p {
    height: 350px;
    overflow: scroll;
    width: 400px;
    text-align: left;
}
   
section > ul > li {
    display: inline-block;
    text-align: left;
    margin-top: 15px;
    vertical-align: middle;
}

